@{
    ViewData["Title"] = "Voice_Auth";
    Layout = "~/Views/Shared/_Login.cshtml";
}
<div class="row justify-content-center">
    <div class="col-md-4 col-lg-4 pb-4" style="
    margin-top: 191px;
    width: 434px;
">
        @{
            await Html.RenderPartialAsync("_VoiceBioPartial");
        }
    </div>
</div>
@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
