
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--<!DOCTYPE html> -->
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- displays site properly based on user's device -->

    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">

    <meta name="author" content="Anuj Yadav">
    <meta name="description" content="Easybank landing page using bootstrap 4, a challenge by frontendmentor.io">
    <meta name="keywords" content="Easybank, landing page, frontendmentor">
    <title> Easybank landing page | Frontend Mentor</title>

</head>

<body>
    <!-- Header Starts -->
    <header class="main-header" style="width: 101%;margin-left: -332px;margin-top: -82px;position: fixed;">
        <div class="header-top">
            <div class="top-left clearfix">
                <div class="search-container">
                    <form>
                        <input id="srch" type="text" placeholder="Search" class="search" onblur="if(value=='') value='Search'" ;="" style="padding: 7px; background: #c3c3c3; margin: 0px; color: #868686;" onfocus="if(value=='Search') value='';">
                        <button type="button" class="search-bu" onclick="javascript: open_search()" style="padding: 7px; color: #01a1dd;  margin: 0px; background: #c3c3c3; margin-left: -10px;"><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </div>
            <div class="auto-container-fluid clearfix">
                <div class="top-right clearfix">
                    <ul class="info-list clearfix">
                        <li><a href="#"><span class="txt">Text Size:</span></a></li>
                        <li style="margin: 0; margin-left: 10px;"><a href="javascript:void(0);" onclick="set_font_size('increase')"><span class="txt">A+</span></a></li>
                        <li style="margin: 0; margin-left: 10px;"><a href="javascript:void(0);" onclick="set_font_size('')"><span class="txt">A</span></a></li>
                        <li style="margin: 0; margin-left: 6px;"><a href="javascript:void(0);" onclick="set_font_size('decrease')"><span class="txt">A-</span></a></li>
                        <li><span class="txt">|</span></li>
                        <li><a href="#"><span class="txt">Color Theme:</span></a></li>
                        <li style="margin: 0; margin-left: 10px;"><a class="dark" href="javascript:void(0);" title="Black Theme"><span class="txt"><img src="~/lib/canarabank/images/color-1.jpg" style="width: 15px;" alt="canara bank"></span></a></li>
                        <li style="margin: 0; margin-left: 10px;"><a class="light" href="javascript:void(0);" title="Default Theme"><span class="txt"><img src="~/lib/canarabank/images/color-2.jpg" style="width: 15px;" alt="canara bank"></span></a></li>
                        <li><a href="User_page.aspx?menulevel=5&amp;menuid=5&amp;CatID=14"><span class="txt">Screen Reader Access</span></a></li>
                     </ul>
                </div>
            </div>
        </div>
        <div class="header-upper bottom-blue">
            <div class="inner-container">
                <div class="auto-container-fluid clearfix" style="background: #00adef;">
                    <div class="logo-outer">
                        <h1 class="logo"><a href="/"><img src="~/lib/canarabank/images/logo1.png" alt="canara" title=""></a></h1>
                    </div>
                    <div class="pull-right" style="max-width: 1002px;">
                        <button class="navbar-toggler for-top-menu" type="button">
                            <span class="icon flaticon-menu-button"></span>
                        </button>
                        <div id="bindmiss_topheading" class="nav-outer clearfix color top-links">
                            <nav class="main-menu navbar-expand-md navbar-light">
                                <div>
                                    <ul class="navigation clearfix menu-1">
                                        <li>
                                            <a href="#">About Us</a>
                                            <ul>
                                                <li><a href="#">Board of Directors</a></li>
                                                <li><a href="#">Chief Vigilance Officer Details</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">PMJDY and Financial Inclusions</a></li>
                                        <li><a href="#">Press Release</a></li>
                                        <li><a href="#">Tenders</a></li>
                                        <li><a href="#">E Auction Properties</a></li>
                                        <li><a href="#">Announcements</a></li>
                                        <li><a href="#">Ex-employees</a></li>
                                        <li><a href="#">Careers</a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <div class="nav-outer clearfix background-design" style="position:relative">
                            <nav class="main-menu navbar-expand-md navbar-light">
                                <div class="navbar-header">
                                    <div class="net"><a href="#">Net Banking</a></div>
                                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="icon flaticon-menu-button"></span>
                                    </button>
                                </div>

                                <div id="navbarSupportedContent">
                                    <l class="navigation clearfix">
                                        <li class="dropdown menu-1">
                                            <span>
                                                <a href="#">
                                                    Personal Banking
                                                    <img src="~/lib/canarabank/images/down-arrow.png" alt="canara" style="padding: 4px;">
                                                </a>
                                            </span>
                                            <ul>
                                                <li class="dropdown menu-1"></li>
                                                <li>
                                                    <a href="#">
                                                        Savings &amp; Deposits
                                                    </a>
                                                </li>
                                                <li><a href="#">Technology Products </a></li>
                                                <li><a href="#">Mutual Funds </a></li>
                                                <li><a href="#">Insurance Business </a> </li>
                                                
                                            </ul>
                                        </li>

                                        <li class="dropdown menu-1">
                                            <span>
                                                <a href="#">
                                                    Corporate Banking
                                                    <img src="~/lib/canarabank/images/down-arrow.png" alt="canara" style="padding: 4px;">
                                                </a>
                                            </span>
                                            <ul>
                                                <li class="dropdown menu-1"></li>
                                                <li>
                                                    <a href="#">Accounts &amp; Deposits </a>
                                                </li>
                                                <li><a href="#">Supply Chain </a></li>
                                                <li><a href="#">Loans &amp; Advances </a></li>
                                                
                                            </ul>
                                        </li>

                                        <li class="dropdown menu-1">
                                            <span>
                                                <a href="#">
                                                    Investor Relation
                                                    <img src="~/lib/canarabank/images/down-arrow.png" alt="canara" style="padding: 4px;">
                                                </a>
                                            </span>
                                            <ul>
                                                <li class="dropdown menu-1"></li>
                                                <li><a href="#">Contact Us </a></li>
                                                <li><a href="#">Appeal to Physical Shareholders of Canara Bank</a></li>
                                                <li><a href="#">SEBI’s ODR portal</a></li>
                                            </ul>
                                        </li>
                                        <li><span><a href="../Home/Login">Sign Out</a></span></li>
                                        <li><span></span></li>
                                        <li><span></span></li>
                                        <li><span></span></li>                                
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sticky-header">
            <div class="header-upper bottom-blue">
                <div class="inner-container">
                    <div class="auto-container-fluid clearfix" style="background: #00adef;">
                        <div class="logo-outer">
                            <div class="logo">
                                <a href="./">
                                    <img src="~/lib/canarabank/images/logo1.png" alt="canara bank" title="canara bank">
                                </a>
                            </div>
                        </div>
                        <div id="bindmiss_topstickyheading" class="nav-outer clearfix color top-links"><nav class="main-menu navbar-expand-md navbar-light"><div><ul class="navigation clearfix menu-1"><li><a href="About-Us.aspx">About Us</a><ul><li><a href="/bod.aspx">Board of Directors</a></li><li><a href="https://canarabank.com/User_page.aspx?nid=42">Chief Vigilance Officer Details</a></li></ul></li><li><a href="User_page.aspx?othlink=106">Financial Results</a></li><li><a href="User_page.aspx?fid=10">PMJDY and Financial Inclusions</a></li><li><a href="User_page.aspx?cid=109">Press Release</a></li><li><a href="../tenders.aspx">Tenders</a></li><li><a href="https://canarabank.com/property/user/propertyDisplay.aspx">E Auction Properties</a></li><li><a href="User_page.aspx?fid=15">Announcements</a></li><li><a href="https://canarabank.com/User_page.aspx?cid=115">Ex-employees</a></li><li><a href="User_page.aspx?fid=16">Careers</a></li></ul></div></nav></div>
                        <div class="nav-outer clearfix background-design">
                            <nav class="main-menu navbar-expand-md navbar-light">
                                <div class="navbar-header">
                                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="icon flaticon-menu-button"></span>
                                    </button>
                                </div>
                                <div id="navbarSupportedContent11" class="collapse navbar-collapse clearfix">  <ul class="navigation clearfix"><li class="dropdown menu-1"><span><a href="User_page.aspx?menulevel=1&amp;menuid=1&amp;CatID=1">Personal Banking <img src="~/lib/canarabank/images/down-arrow.png" alt="canara" style="padding: 4px;"> </a></span><ul><li class="dropdown menu-1"></li><li><a href="User_page.aspx?menulevel=1&amp;menuid=2&amp;CatID=1"><i class="topicons icon-saving_icon" width="136" height="67"> </i>Savings &amp; Deposits </a></li><li><a href="User_page.aspx?menulevel=1&amp;menuid=2&amp;CatID=3"><i class="topicons icon-tech_icon" width="136" height="67"> </i>Technology Products </a></li><li><a href="User_page.aspx?menulevel=1&amp;menuid=2&amp;CatID=4"><i class="topicons icon-mutual_fund_icon" width="136" height="67"> </i>Mutual Funds </a></li><li><a href="User_page.aspx?menulevel=1&amp;menuid=2&amp;CatID=5"><i class="topicons icon-insurance_icon" width="136" height="67"> </i>Insurance Business </a></li><li><a href="/UPLOAD/TopMenuFile/International_services.pdf">International Services</a></li><li><a href="User_page.aspx?menulevel=1&amp;menuid=2&amp;CatID=7"><i class="topicons icon-card_icon" width="136" height="67"> </i>Card Services </a></li><li><a href="User_page.aspx?menulevel=1&amp;menuid=2&amp;CatID=8"><i class="topicons icon-consultancy_icon" width="136" height="67"> </i>Consultancy Services </a></li><li><a href="User_page.aspx?menulevel=1&amp;menuid=2&amp;CatID=9"><i class="topicons icon-home_icon" width="136" height="67"> </i>Depository Services </a></li><li><a href="User_page.aspx?menulevel=1&amp;menuid=2&amp;CatID=10"><i class="topicons icon-list_icon" width="136" height="67"> </i>Ancillary Services </a></li><li><a href="User_page.aspx?menulevel=1&amp;menuid=2&amp;CatID=11"><i class="topicons icon-housing_project_icon" width="136" height="67"> </i>Approved Housing Projects </a></li><li><a href=""><i class="topicons " width="136" height="67"> </i></a><a href="https://canarabank.com/User_page.aspx?othlink=410" target="_blank">How To Apply</a> </li><li> <a href="User_page.aspx?menulevel=1&amp;menuid=2&amp;CatID=2"><i class="topicons topicons icon-15" width="136" height="67"> </i>Retail Loan Products</a></li><li> <a href="User_page.aspx?menulevel=1&amp;menuid=3&amp;CatID=156"><i class="topicons topicons icon-15" width="136" height="67"> </i>MSME Loan Products</a></li><li> <a href="https://canarabankcsis.in/DCS_WEB/"><i class="topicons " width="136" height="67"> </i>ONLINE SUBMISSION OF DEATH CLAIMS</a></li><li> <a href="https://canarabank.net.in/TDSWaiver/Home/index"><i class="topicons " width="136" height="67"> </i>ONLINE SUBMISSION OF 15G/15H APPLICATION</a></li></ul></li><li class="dropdown menu-1"><span><a href="User_page.aspx?menulevel=1&amp;menuid=2&amp;CatID=12">Corporate Banking <img src="~/lib/canarabank/images/down-arrow.png" alt="canara" style="padding: 4px;"> </a></span><ul><li class="dropdown menu-1"></li><li><a href="User_page.aspx?menulevel=1&amp;menuid=2&amp;CatID=12"><i class="topicons icon-saving_icon" width="136" height="67"> </i>Accounts &amp; Deposits </a></li><li><a href="User_page.aspx?menulevel=1&amp;menuid=2&amp;CatID=13"><i class="topicons icon-supply_chain_icon" width="136" height="67"> </i>Supply Chain </a></li><li><a href="User_page.aspx?menulevel=1&amp;menuid=2&amp;CatID=14"><i class="topicons icon-15" width="136" height="67"> </i>Loans &amp; Advances </a></li><li><a href="User_page.aspx?menulevel=1&amp;menuid=2&amp;CatID=15"><i class="topicons icon-other_services_icon" width="136" height="67"> </i>Syndication Services </a></li><li><a href="User_page.aspx?menulevel=1&amp;menuid=2&amp;CatID=16"><i class="topicons icon-ipo_icon" width="136" height="67"> </i>IPO Monitoring Activity </a></li><li><a href="User_page.aspx?menulevel=1&amp;menuid=2&amp;CatID=17"><i class="topicons icon-lead_bank_icon" width="136" height="67"> </i>Merchant Banking</a></li><li><a href="User_page.aspx?menulevel=1&amp;menuid=2&amp;CatID=18"><i class="topicons icon-tuf_icon" width="136" height="67"> </i>TUF Schemes</a></li><li><a href="User_page.aspx?menulevel=1&amp;menuid=2&amp;CatID=19"><i class="topicons icon-tax_icon" width="136" height="67"> </i>Canara eTax </a></li></ul></li><li class="dropdown menu-1"><span><a href="User_page.aspx?menulevel=1&amp;menuid=1&amp;CatID=11">Investor Relation <img src="~/lib/canarabank/images/down-arrow.png" alt="canara" style="padding: 4px;"> </a></span><ul><li class="dropdown menu-1"></li><li><a href="User_page.aspx?menulevel=1&amp;menuid=2&amp;CatID=54"><i class="topicons icon-support_icon" width="136" height="67"> </i>Contact Us </a></li><li><a href="/UPLOAD/TopMenuFile/Digital_Media.pdf">Appeal to Physical Shareholders of Canara Bank</a></li><li> <a href="https://ris.kfintech.com/clientservices/tds/"><i class="topicons " width="136" height="67"> </i>Download TDS Certificate for payment of Dividend FY 2021-22 <img src="../media/10017/NewBlinker.gif" alt="Blinker"></a></li><li> <a href="https://smartodr.in/investor/login"><i class="topicons " width="136" height="67"> </i>SEBI’s ODR portal</a></li></ul></li><li><span><a href="https://canarabankcsis.in/easyfee/">Canara Easy Fee</a></span></li><li class="dropdown menu-1"><span><a href="User_page.aspx?menulevel=1&amp;menuid=2&amp;CatID=22">NRI Banking <img src="~/lib/canarabank/images/down-arrow.png" alt="canara" style="padding: 4px;"> </a></span><ul><li class="dropdown menu-1"></li><li><a href="User_page.aspx?menulevel=1&amp;menuid=2&amp;CatID=20"><i class="topicons icon-saving_icon" width="136" height="67"> </i>Deposit Products </a></li><li><a href="User_page.aspx?menulevel=1&amp;menuid=2&amp;CatID=21"><i class="topicons icon-15" width="136" height="67"> </i>Loans &amp; Advances </a></li><li><a href="User_page.aspx?menulevel=1&amp;menuid=2&amp;CatID=22"><i class="topicons icon-rupee_arrow_icon" width="136" height="67"> </i>Remittance Facilities </a></li><li><a href="User_page.aspx?menulevel=1&amp;menuid=2&amp;CatID=23"><i class="topicons icon-iinnvestinvest_icon" width="136" height="67"> </i>Investment Facilities </a></li><li><a href="User_page.aspx?menulevel=1&amp;menuid=2&amp;CatID=24"><i class="topicons icon-consultancy_icon" width="136" height="67"> </i>Consultancy Services </a></li><li><a href="User_page.aspx?menulevel=1&amp;menuid=2&amp;CatID=25"><i class="topicons icon-other_services_icon" width="136" height="67"> </i>Other Services </a></li><li><a href="User_page.aspx?menulevel=1&amp;menuid=2&amp;CatID=26"><i class="topicons icon-list_1_icon" width="136" height="67"> </i>NRI News Bulletin</a></li><li><a href="User_page.aspx?menulevel=1&amp;menuid=2&amp;CatID=27"><i class="topicons icon-phone_icon" width="136" height="67"> </i>Contact Details</a></li><li><a href="User_page.aspx?menulevel=1&amp;menuid=2&amp;CatID=29"><i class="topicons icon-faq_icon" width="136" height="67"> </i>FAQs </a></li><li><a href="User_page.aspx?menulevel=1&amp;menuid=2&amp;CatID=50"><i class="topicons icon-list_1_icon" width="136" height="67"> </i>FATCA / CRS - Self Declaration Form </a></li><li> <a href="https://canarabank.com/callbackrequest.aspx"><i class="topicons " width="136" height="67"> </i>Callback Request</a></li></ul></li><li class="dropdown menu-1"><span><a href="User_page.aspx?menulevel=1&amp;menuid=1&amp;CatID=5">Priority Portal <img src="~/lib/canarabank/images/down-arrow.png" alt="canara" style="padding: 4px;"> </a></span><ul><li class="dropdown menu-1"></li><li><a href="User_page.aspx?menulevel=1&amp;menuid=2&amp;CatID=30"><i class="topicons icon-tuf_icon" width="136" height="67"> </i>Schemes</a></li><li><a href="User_page.aspx?menulevel=1&amp;menuid=2&amp;CatID=31"><i class="topicons icon-train_icon" width="136" height="67"> </i>RRB Section </a></li><li><a href="User_page.aspx?menulevel=1&amp;menuid=2&amp;CatID=32"><i class="topicons icon-sustainable_icon" width="136" height="67"> </i>Agri-Marketing </a></li><li><a href="User_page.aspx?menulevel=1&amp;menuid=2&amp;CatID=33"><i class="topicons icon-sustainable_icon" width="136" height="67"> </i>Agricultural Innovation Centre</a></li><li><a href="User_page.aspx?menulevel=1&amp;menuid=2&amp;CatID=34"><i class="topicons  icon-faq_icon" width="136" height="67"> </i>Rural Development </a></li><li><a href="User_page.aspx?menulevel=1&amp;menuid=2&amp;CatID=35"><i class="topicons icon-ced_icon" width="136" height="67"> </i>CED for Women </a></li><li><a href="User_page.aspx?menulevel=1&amp;menuid=2&amp;CatID=36"><i class="topicons icon-iinnvestinvest_icon" width="136" height="67"> </i>Sustainable Development and Corporate Social Responsibility (SD-CSR) </a></li><li><a href="User_page.aspx?menulevel=1&amp;menuid=2&amp;CatID=37"><i class="topicons icon-lead_bank_icon" width="136" height="67"> </i>Lead Bank </a></li><li><a href="User_page.aspx?menulevel=1&amp;menuid=2&amp;CatID=38"><i class="topicons icon-promotion_icon" width="136" height="67"> </i>In Promotion Of Self Employment </a></li><li><a href="User_page.aspx?menulevel=1&amp;menuid=2&amp;CatID=39"><i class="topicons icon-tuf_icon" width="136" height="67"> </i>RURAL DEVELOPMENT SCHEMES </a></li><li><a href="User_page.aspx?menulevel=1&amp;menuid=2&amp;CatID=40"><i class="topicons icon-support_icon" width="136" height="67"> </i>SUPPORT INITIATIVES </a></li><li> <a href="User_page.aspx?othlink=430/"><i class="topicons " width="136" height="67"> </i>Agriculture loan Application formats</a></li></ul></li><li><span><a href="../NET_Banking.aspx">Net Banking</a></span></li><li><span><a href="http://canaramsme.in/">MSME Banking</a></span></li><li><span><a href="https://canarabank.net.in/cpgrs/login.aspx">Register a Grievance</a></span></li></ul></div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Ends -->
    <!-- Intro Starts -->
    <div class="d-flex flex-direction-column flex-direction-md-row flex-wrap flex-wrap-md-nowrap">
        <div id="introduction" class="container-fluid-md  w-md-50 order-md-3 overflow-hidden">
            <div id="intro-img-holder" class="col-12 row justify-content-center m-0 p-0">
                <img id="intro-img" class="img-fluid" src="https://i.ibb.co/vYFVbTB/image-mockups.png" alt="intro img" style="margin-left: 47px;margin-top: 57px;">
            </div>

        </div>
        <div class="container-md w-md-50 d-md-flex justify-content-center align-items-center flex-column" style="margin-left: -186px;margin-top: 65px;">
            <div class="col-md-10 offset-md-1 col-xl-8 offset-xl-0 double-gutter-md-left-padding ">
                <h2 id="business-tagline" class="text-center text-md-left">Next generation digital banking</h2>
                <p class="text-center  text-md-left color-grayish-blue">
                    Take your financial life online. Your Easybank account will be a one-stop-shop
                    for spending, saving, budgeting, investing, and much more.
                </p>
                <button id="request-invite-btn" type="button" class="btn btn-lg rounded-pill text-white bg-green-cyan ml-auto mr-auto ml-md-0 mr-md-0 request-btns">Request Invite</button>
            </div>
        </div>
    </div>
    <!-- Intro Ends -->
   
    <!-- Latest articles starts -->
    <div id="articles" class="container-md" style="margin-left: -147px;">
        <div id="articles-holder" class="col-md-10 offset-md-1 d-sm-flex justify-content-sm-center align-items-sm-start flex-sm-wrap">
            <h2 class="text-center text-md-left mt-0 pt-5 w-100 gutter-md-left-padding">Latest Articles</h2>
            <div class="w-100"></div>
            <div class="col-12 d-sm-flex flex-sm-wrap flex-lg-nowrap" style="
    margin-left: 58px;
">
                <div class="article-card article-card-odd col-sm-6 col-lg-3 row justify-content-center align-items-center flex-direction-column rounded-lg shadow-lg overflow-hidden">
                    <img src="https://i.ibb.co/LhdXbJp/moneybank.jpg" alt="currency img" class="img-fluid">
                    <div class="article-card-text text-center">
                        <p class="pt-3 w-100 text-left author-name color-grayish-blue">By Claire Robinson</p>
                        <h5 class="text-left">Receive money in any currency with no fees</h5>
                        <p class="article-details text-left color-grayish-blue">
                            The world is getting smaller and we’re becoming more mobile. So why should you be
                            forced to only receive money in a single …
                        </p>
                    </div>

                </div>

                <div class="article-card article-card-even col-sm-6 col-lg-3 row justify-content-center align-items-center flex-direction-column rounded-lg shadow-lg overflow-hidden">
                    <img src="https://i.ibb.co/q5xMLBG/image-restaurant.jpg" alt="restaurant img" class="img-fluid">
                    <div class="article-card-text text-center">
                        <p class="pt-3 w-100 text-left author-name color-grayish-blue">By Wilson Hutton</p>
                        <h5 class="text-left">Treat yourself without worrying about money</h5>
                        <p class="article-details text-left color-grayish-blue">
                            Our simple budgeting feature allows you to separate out your spending and set
                            realistic limits each month. That means you …
                        </p>
                    </div>

                </div>

                <div class="article-card article-card-odd col-sm-6 col-lg-3 row justify-content-center align-items-center flex-direction-column rounded-lg shadow-lg overflow-hidden">
                    <img src="https://i.ibb.co/gPfg9VK/image-plane.jpg" alt="plane img" class="img-fluid">
                    <div class="article-card-text text-center">
                        <p class="pt-3 w-100 text-left author-name color-grayish-blue">By Wilson Hutton</p>
                        <h5 class="text-left">Take your Easybank card wherever you go</h5>
                        <p class="article-details text-left color-grayish-blue">
                            We want you to enjoy your travels. This is why we don’t charge any fees on purchases
                            while you’re abroad. We’ll even show you …
                        </p>
                    </div>

                </div>

                <div class="article-card article-card-even col-sm-6 col-lg-3 row justify-content-center align-items-center flex-direction-column rounded-lg shadow-lg overflow-hidden">
                    <img src="https://i.ibb.co/NrnzGvx/image-confetti.jpg" alt="plane img" class="img-fluid">
                    <div class="article-card-text text-center">
                        <p class="pt-3 w-100 text-left author-name color-grayish-blue">By Claire Robinson</p>
                        <h5 class="text-left">Our invite-only Beta accounts are now live!</h5>
                        <p class="article-details text-left color-grayish-blue">
                            After a lot of hard work by the whole team, we’re excited to launch our closed beta.
                            It’s easy to request an invite through the site ...
                        </p>
                    </div>

                </div>

            </div>

        </div>

    </div>
   </body>